.fwfw-field {
padding-right: 0.6rem;
padding-left: 0.6rem;
padding-bottom: 0.6rem;
margin: 0.2rem;
border: 2px solid #fff;
border-radius: 12px;
background-color: rgb(241, 237, 237);

}
.fwfw-fields-box{
    display: flex;
    margin-bottom: 1rem;
}

.fwfw-fields-box h5 {
  margin: 0.6rem;
  margin-left: 0;
  margin-right: 0;
}

.fwfw-total-price{
    display: inline;
    padding: 1rem;
    width: 25%;
    background-color: rgb(241, 237, 237);
    
    
}